# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*node_modules/*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# packages installed 

# npm install three
# npm install @react-three/fiber
# npm install @react-three/drei
# npm install math
# npm install valtio
# npm install react-color
# npm install farmer-motion 
# npm install -D tailwindcss postcss autoprefixer
# npx tailwindcss init -p